<div id="body-header">
    <ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
		{% set MICRODATA = 'itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope' %}
		{% set navlink_position = 1 %}
		{% EVENT overall_header_breadcrumbs_before %}
		<li class="small-icon icon-home breadcrumbs{% if S_IS_LOCKED %} locked{% endif %}" itemscope itemtype="https://schema.org/BreadcrumbList">

			{% if U_SITE_HOME %}
			<span class="crumb" {{ MICRODATA }}>
				<a href="{{ U_SITE_HOME }}" itemprop="item" data-navbar-reference="home">
				<i class="icon fa-home fa-fw" aria-hidden="true"></i>
				<span itemprop="name">{{ lang('SITE_HOME') }}</span>
				</a>
				<meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" />
			</span>
			{% endif %}

			{% EVENT overall_header_breadcrumb_prepend %}
			<span class="crumb" {{ MICRODATA }}>
				<a href="{{ U_INDEX }}" itemprop="item" accesskey="h" data-navbar-reference="index">
				{% if not U_SITE_HOME %}<i class="icon fa-home fa-fw" aria-hidden="true"></i>{% endif %}
				<span itemprop="name">{{ lang('INDEX') }}</span>
				</a>
				<meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" />
			</span>

			{% for navlink in navlinks %}
				{% EVENT overall_header_navlink_prepend %}

				{% set NAVLINK_NAME = navlink.BREADCRUMB_NAME | default(navlink.FORUM_NAME) %}
				{% set NAVLINK_LINK = navlink.U_BREADCRUMB | default(navlink.U_VIEW_FORUM) %}

				<span class="crumb" {{ MICRODATA }}{% if navlink.MICRODATA %} {{ navlink.MICRODATA }}{% endif %}>
					<a href="{{ NAVLINK_LINK }}" itemprop="item">
					<span itemprop="name">{{ NAVLINK_NAME }}</span>
					</a>
					<meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" />
				</span>
				{% EVENT overall_header_navlink_append %}
			{% endfor %}

			{% if S_VIEWTOPIC %}<span class="crumb crumb-topic"><a href="{{ U_VIEW_TOPIC }}">{{ TOPIC_TITLE }}</a></span>{% endif %}
			{% EVENT overall_header_breadcrumb_append %}
		</li>
		{% EVENT overall_header_breadcrumbs_after %}
		{% if S_DISPLAY_SEARCH and not S_IN_SEARCH %}
		<li class="responsive-search rightside" style="display: none;">
			<a href="{{ U_SEARCH }}" title="{{ lang('SEARCH_ADV_EXPLAIN') }}" role="menuitem">
				<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH') }}</span>
			</a>
		</li>
		{% endif %}

		{% if not S_IS_BOT %}
			{% if U_MARK_FORUMS and (S_INDEX or (S_VIEWFORUM and S_HAS_SUBFORUM)) %}
				{% set MARK_LABEL = (S_VIEWFORUM and S_HAS_SUBFORUM) ? lang('MARK_SUBFORUMS_READ') : lang('MARK_FORUMS_READ') %}
				<li class="rightside">
					<a href="{{ U_MARK_FORUMS }}" accesskey="m" data-ajax="mark_forums_read" title="{{ MARK_LABEL }}">
						<i class="icon fa-check-square-o fa-fw" aria-hidden="true"></i><span class="sr-only">{{ MARK_LABEL }}</span>
					</a>
				</li>
			{% endif %}

			{% if S_VIEWTOPIC and U_VIEW_UNREAD_POST %}
				<li class="rightside">
					<a href="{{ U_VIEW_UNREAD_POST }}" title="{{ lang('VIEW_UNREAD_POST') }}">
						<i class="icon fa-eye fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('VIEW_UNREAD_POST') }}</span>
					</a>
				</li>
			{% endif %}

			{% if SEARCH_MATCHES and not S_IN_SEARCH %}
				{% if SEARCH_TOPIC %}
					<li class="rightside">
						<a class="arrow-{{ S_CONTENT_FLOW_BEGIN }}" href="{{ U_SEARCH_TOPIC }}">
							{{ lang('RETURN_TO_TOPIC') }}
						</a>
					</li>
				{% else %}
					<li class="rightside">
						<a class="arrow-{{ S_CONTENT_FLOW_BEGIN }}" href="{{ U_SEARCH }}" title="{{ lang('SEARCH_ADV') }}">
							<i class="icon fa-angle-{{ S_CONTENT_FLOW_BEGIN }} fa-fw icon-black" aria-hidden="true"></i><span>{{ lang('GO_TO_SEARCH_ADV') }}</span>
						</a>
					</li>
				{% endif %}
			{% endif %}
		{% endif %}
	</ul>
</div>
