/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */
/* General Markup Styles
---------------------------------------- */
html, body {
    color: #4A4A4A;
    background-color: #000;
}

/* Headings */
h1 {
    margin-top: 100px;
    color: #000;
}

h2 {
    font-size: 3em;
    letter-spacing: -0.05em;
    margin-top: 0.5em;
    background: url("./images/category-shadow.png") no-repeat 0 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #172040;
}

h2 a { color: #074E79; }
h2 a:hover { color: #0295EE; text-decoration: none; }
h2 a:active { color: #00C0FF; }
h2.solo { margin-bottom: 0.5em; }

h3 {
    border-bottom: 1px solid #444;
    color: #0080b2;
    border-color: rgba(29, 63, 98, 0.5);
}

h3 a:hover
{
    text-decoration: none;
}

.pm .postbody h3.first {
    font-size: 1.6em;
    color: #0080b2;
}

hr {
    border-color: #b5b3b2;
}

/* Main blocks
---------------------------------------- */

#wrap {
    background: #D3D1CE;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */

/* PBTECH navblock*/

.navblock {
    background: #111;
    background: rgba(0, 0, 0, 0.85);
    border: 1px solid #363636;
    box-shadow: inset 0 0 6px 6px rgba(0, 0, 0, 1), 0 0 0 1px rgba(0, 0, 0, 1), 0 0 5px 2px rgba(0, 0, 0, 0.85);
    color: #888;
}

.navblock > .inner {
    border: #1a1a1a;
}

/* PBTECH body header (grey menu breadcrumbs)
--------------------------------------------- */

#page-header {
    background: url("./images/bg.jpg") no-repeat scroll 50% -50px #040404;
}

#page-header .navbar {
    background: url("./images/bg-sides.png") repeat-x scroll 50% 100%;
    color: #858084;
}

#body-header {
    background: #d3d1ce url("./images/bg-middle.jpg") 50% 0 no-repeat;
}

#body-header li.breadcrumbs:before,
#page-footer li.breadcrumbs:before {
    color: #888;
    text-shadow: 0 0 2px #000;
}

#body-header li.breadcrumbs:before {
    color: #363535;
    text-shadow: none;
}

#body-header .crumb a:before {
    border-bottom: 1px dotted #8C6407;
}

#body-header .breadcrumbs .crumb a {
    color: #363535;
}

#body-header .crumb a:hover:before {
    border-bottom-color: #FFF;
}

#body-header .breadcrumbs .crumb a:hover {
    color: #00577E;
    border-bottom-color: #00577E;
}

#page-footer {
    background: url("./images/bg.jpg") no-repeat scroll 50% 70% #000;
    border-top: 4px solid #777674;
}

.panel {
    background: #ECEBEA;
    border-color: #CAC9C8;
}

.forumbg-table {
    background: #ECEBEA;
}

.bg1, .bg2, .bg3 {
    background: #ECEBEA;
}

/* Responsive breadcrumbs
----------------------------------------*/

/* pbWoW
--------------------------------------------- */

.forabg {
    background-color: transparent;
}
/* Topic lists
--------------------------------------------- */

/* Table styles
----------------------------------------*/
table.table1 thead tr {
    border-bottom: #0080B2; /* TODO color */
}

table.table1 thead th {
    color: #222;
}

table.table1 tbody th {
    background: #101010;
    border-bottom: #000000;
    color: #CCC;
}

table.table1 tbody tr {
    background: #ECEBEA;
    border-color: #C5C5C5;
}

table.table1 tbody tr.bg1,
table.zebra-list tbody tr:nth-child(even) {
    background: #ECEBEA;
    border-color: #C5C5C5;
}

table.table1 tbody tr.bg2,
table.zebra-list tbody tr:nth-child(odd) {
    background: #ECEBEA;
    border-color: #C5C5C5;
}

table.table1 tbody tr.bg3 {
    background: #F0F0F0;
    border-color: #C5C5C5;
}

table.table1 tbody tr.bg1:hover,
table.table1 tbody tr.bg1.hover,
table.zebra-list tbody tr:nth-child(even):hover {
    background: #E6E6E6;
    color: #4A4A4A;
}

table.table1 tbody tr.bg2:hover,
table.table1 tbody tr.bg2.hover,
table.zebra-list tbody tr:nth-child(odd):hover {
    background: #E6E6E6;
    color: #4A4A4A;
}

table.table1 tbody tr.bg3:hover,
table.table1 tbody tr.bg3.hover {
    background: #E6E6E6;
    color: #4A4A4A;
}

table.table1 tbody tr:hover td,
table.table1 tbody tr.hover td {
    color: #4A4A4A;
}
table.table1 tbody .big-column td {
    color: #222;
}

table.info tbody th {
    color: #FFF;
}

/* Misc layout styles
---------------------------------------- */

/* Responsive breadcrumbs */

.breadcrumbs .crumb:before {
    color: #00577E;
}
.pagination li a,
.pagination li.page-jump a, .pagination li.next a, .pagination li.previous a {
    background: #333;
    background: linear-gradient(#333, #505050);
    border-color: transparent;
    color: #CECECE;
}

.row .pagination li a {
    background: none;
    color: #074e79;
}

.pagination li a:hover,
.pagination .active a:hover,
.pagination .dropdown-visible a.dropdown-trigger,
.nojs .pagination .dropdown-container:hover a.dropdown-trigger {
    background: #1D1D1D;
    background: linear-gradient(#1D1D1D, #343434);
    border-color: transparent;
    color: #FFF;
    text-decoration: none;
    box-shadow: none;
}

.pagination li.active span {
    background-color: #0080B2;
    border-color: transparent;
    color: #FFFFFF;
}

.pagination li.active span:hover {
    background-color: #009EE2;
    border-color: transparent;
    color: #FFF;
    text-decoration: none;
    box-shadow: none;
}

/* jQuery popups
---------------------------------------- */

.phpbb_alert {
    background-color: #fcfbfa;
    border-color: #575757;
    box-shadow: 0 0 10px #666;
}

.phpbb_alert .alert_close:after {
    color: #F00;
}

/* Miscellaneous styles
---------------------------------------- */
.error {
    color: #FF1111;
}

body.section-viewforum div.rules,
body.section-viewtopic div.rules {
    box-shadow: none;
}

div.rules,
body.section-viewforum div.rules,
body.section-viewtopic div.rules {
    background-color: rgba(0,0,0,0.09);
    background: linear-gradient(to bottom, rgba(19,19,19,0.14) 0%, rgba(214,210,214,0.14) 100%);
}

body.section-viewforum div.rules > .inner,
body.section-viewtopic div.rules > .inner {
    border: #000;
}

p.post-notice,
.postbody div.rules {
    background-color: rgba(255, 0, 0, 0.1);
    border: #AA1111;
}

p.post-notice {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

p.post-notice:before {
    background: none !important;
    color: #FFF;
    text-shadow: 0 0 5px #F11;
}

/* Rules & Errors
--------------------------------------------- */
ul.linklist li.responsive-menu a.responsive-menu-link:hover:before,
ul.linklist li.responsive-menu.visible a.responsive-menu-link:before {
    color: #FFF;
}

ul.linklist li.responsive-menu a.responsive-menu-link:before {
    color: #9dbecb;
}

/* Drop-down menu
--------------------------------------------- */

.dropdown .pointer {
    border-color: #999 transparent;
}
.dropdown .pointer-inner {
    border-color: #EEE transparent;
}

.dropdown .dropdown-contents {
    background: #EEE;
    border-color: #999;
    box-shadow: rgba(100,100,100, 0.8);
    text-shadow: none;
}

.dropdown li, .dropdown li li, .dropdown li.separator {
    border-color: #cac9c8;
}

.dropdown-contents strong {
    color: #363535;

}

.dropdown-contents .small-icon > a:before {
    color: #074e79;
    text-shadow: none;
}

/* Notifications */
.dropdown-extended {
    z-index: 3;
}
.dropdown-extended .pointer {
    border-color: #555 transparent;
}

.dropdown-extended .pointer-inner {
    border-color: #555 transparent;
}

.dropdown-extended .dropdown-contents {
    background: #555;
    border-color: #555;
}

.dropdown-extended .header, .dropdown-extended .footer {
    color: #FFF;
    border-color: #444;
    background: #555;
}

.dropdown-extended .header a, .dropdown-extended .footer a {
    color: #acbdc8;
}

.dropdown-extended .header a:hover, .dropdown-extended .footer a:hover {
    color: #FFF;
}

.dropdown-extended ul li {
    background: #d8d8d8;
    border-color: #c5c5c5;
}

.dropdown-extended ul li.bg2 {
    background: #e3e7e9;
}

.dropdown-extended ul li:hover {
    background: #e6e6e6;
}

.dropdown-extended a.mark_read {
    background-image: none;
    background-color: #FFF;
}

.dropdown-extended a.mark_read:before {
    text-shadow: #000;
}

li.notification-reported strong, li.notification-disapproved strong {
    color: #FF1111;
}

/* Contact menu */
.contact-icons a {
    border-color: #333;
}

.contact-icons a:hover {
    background-color: #292A2A;
}

/* Profile Context Menu
--------------------------------------------- */
.profile-context .dropdown-contents {
    box-shadow: 0 0 0 1px #000, 0 1px 2px 1px rgba(0, 0, 0, 0.9), inset 0 0 10px 4px rgba(0, 0, 0, 0.5);
    text-shadow: rgba(0, 0, 0, 0.7);
    background-color: #4d606d;
    border-color: #8fa7b7;
}

.profile-context dt {
    color: #FFF;
}

.profile-context .dropdown-contents strong {
    color: #FFF;
}

.profile-context dd {
    color: #acbdc8;
}

.profile-context a {
    color: #9dbecb;
}

.profile-context a:hover {
    color: #FFF;
}

.profile-context .user-icons a {
    background: #6b7f8d;
    color: #c7dceb;
}

.profile-context .user-icons a:before {
    color: #c7dceb;
}

.profile-context .user-icons a:hover {
    background: #92a9ba;
    color: #FFF;
}

.profile-context .user-icons a:hover:before {
    color: #FFF;
}

/* pbWow Forums list contents */

.forum-blocks dl {
    background: #DCDBD9;
}

.forum-blocks dl .list-inner {
    color: #656565;
}

.forum-blocks dd.forum-stats,
.forum-blocks dd.redirect,
.forum-blocks dd.mcp-status,
#recent-topics dd.lastpost {
    color: #8d929c;
}

.forum-blocks dl.unread {
    background: #DCDBD9;
}

.forum-blocks dl:hover .list-inner {
    color: #000;
}

/* Other blocks */
.misc-block, .stat-block p {
    background: #DCDBD9;
}

/* Hover states */
.forum-blocks dl:hover {
    background: #E6E6E6;
    border: none #00C0FF;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

/* Links, arrows & text
--------------------------------------------- */

a	 		{ color: #074E79; }
a:hover 	{ color: #0295EE; }
a:active	{ color: #0295EE; }

a.up:hover, a.down:hover, a.left:hover, a.right:hover, a.top:hover, a.top2:hover,
a.arrow-up:hover, a.arrow-down:hover, a.arrow-left:hover, a.arrow-right:hover {
    color: inherit;
    text-shadow: #009CFF;
}
/* Topic links */

a.topictitle			{ color: #3a3a3a; }
a.topictitle:hover		{ color: #4282bc; }
a.topictitle:active		{ color: #4282bc; }

a.forumtitle,			.forumbg .header a,			.forabg .header a, 			th a 		{ color: #000; }
a.forumtitle:hover,		.forumbg .header a:hover,	.forabg .header a:hover, 	th a:hover 	{ color: #0295EE; }
a.forumtitle:active,	.forumbg .header a:active,	.forabg .header a:active, 	th a:active { color: #0295EE; }

#nav-main > li > a,			#page-footer a			{ color: #697489; }
#nav-main > li > a:hover,	#page-footer a:hover	{ color: #FFF; }
#nav-main > li > a:active,	#page-footer a:active	{ color: #FFF; }

/* Post body links */
.postlink {
    border-bottom: #2f7899;
    color: #074e79;
}
.postlink:active {
    border-bottom-color: #4F93B6;
    color: #0295ee;
}

.postlink:hover {
    border-bottom-color: #4F93B6;
    color: #0295ee;
}

/*
---------------------------------------------------------
Colours and backgrounds for content.css
--------------------------------------------------------- */

li.row
{
    background: #D8D8D8;
    border-color: #C5C5C5;
}

li.row.bg2 {
    background: #D8D8D8;
    border-color: #C5C5C5;
}

li.row.bg3 {
    background: #E3E7E9;
    border-color: #C5C5C5;
}

li.row strong {
    color: #363535;
}

li.row:hover,
li.row.bg1:hover,
li.row.bg2:hover,
li.row.bg3:hover
{
    background: #E6E6E6;
    color: #4A4A4A;
}

li.row.sticky,
li.row.announce,
li.row.global-announce {
    background: #E3E7E9;
}

li.row.reported,
li.row.reported:hover
{
    background: #e6c5c5;
}

li.row.reported:hover
{
    background-color: rgba(255, 17, 17, 0.3);
}

ul.topiclist li.header {
    border-bottom: #C5C5C5;
}

li.header dt, li.header dd {
    color: #5a545c;
}
.post:target h3 a {
    color: #FFF;
}

.postprofile,
.postbody,
.content,
blockquote {
    color: #4A4A4A;
    text-shadow: none;
}

.postprofile strong { color: #0072a3; }

.post:target {
    border: 1px solid #d8d8d8;
}

.post:target .content {
    color: #000;
}

.post.bg1 > .inner {
    background: linear-gradient(to bottom, #EBEAE9 0%, #F2F3F3 100%);
}

.post.bg2 > .inner {
    background: linear-gradient(to bottom, #E5E4E3 0%, #EDEDED 100%);
}
.post.deleted {
    /* @TODO */
}

.post.unread {
    /* @TODO */
}

.post,
.post.reported,
.post.warned,
.post.deleted {
    background-color: rgba(0,0,0,0.09);
    background: linear-gradient(to bottom, rgb(191 189 189 / 14%) 0%, rgb(245 245 245 / 14%) 100%);
    border-bottom: #CAC9C8;
}

.post .postbody .content,
#cp-main .post .content,
#cp-main .pm .content {
    background-image: none;
    border-color: rgba(200, 200, 200, 0.6);
    border-top: rgba(0, 0, 0, 0.5);
}

.post > .inner {
    background: #F2F3F3;
    border-bottom: #CAC9C8;
}

.topic_poll:before,
.action-bar.top + .post-container:before {
    background: #D8D8D8 none repeat scroll 0 0;
}

.has-profile .postbody {
    background: none;
}

/* Content container styles
--------------------------------------------- */
.content h2, .panel h2 {
    color: #074e79;
    background: none;
    border-bottom-color: #3380C8;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */

blockquote {
    background: rgba(67, 67, 67, 0.12);
    border: none;
    border-radius: 5px;
    color: #555;
    padding: 10px 20px 10px 20px;
    position: relative;
    box-shadow: none;
}

blockquote:before, blockquote:after {
    content: none;
}

.signature, .notice {
    border-top-color: rgba(200, 200, 200, 0.6);
    padding: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.signature {
    opacity: 0.7;
}

/* Code block */
.codebox, code.inline {
    background: linear-gradient(to bottom, #cacac7 0%, #C8C8C8 60%);
    border-color: transparent;
    box-shadow: none;
    color: #35B92F;
}

.codebox code {
    color: #35B92F;
    text-align: left;
    max-height: 400px;
}

.codebox p {
    border-color: #999;
    border-bottom-color: #afafaf;
}

dl.codebox {
    background-color: rgba(28, 40, 100, 0.2);
}

.codebox {
    background-color: rgba(10, 10, 10, 0.3);
    text-shadow: none;
}

.syntaxbg { color: #000C18; }
.syntaxcomment { color: #5a545c; }
.syntaxdefault { color: #435f9f; }
.syntaxkeyword { color: #171e2d; }
.syntaxstring { color: #930c06; }
.syntaxhtml { color: #AAA; }

code.inline {
    background-color: rgba(10, 10, 10, 0.3);
    border: 1px solid rgba(88, 88, 88, 0.7);
    border-radius: 2px;
    color: #209347;
    display: inline;
    font-family: Monaco, 'Andale Mono', 'Courier New', Courier, monospace;
    font-size: 0.8em;
    font-style: normal;
    line-height: 1.3em;
    padding: 0 3px;
}

/* Attachments
----------------------------------------*/
.attachbox {
    background: rgba(67, 67, 67, 0.12);
    border-color: #7C7C7C;
    margin: 10px;
}

.attachbox dd {
    border-top-color: #575757;
}

.attachbox p {
    /*color: #999;*/
}

.attachbox p.stats {
    /*color: #999;*/
}

.pm-message .attachbox {
    background-color: #333;
}

.attach-image img {
    border-color: #444;
}

.inline-attachment {
    /* TODO */
}

dl.file dd {
    color: #858084;
}

dl.details dt {
    color: #7a7a7a;
}

dl.details dd {
    color: inherit;
}

dl.faq dt {
    color: #172040;
}

dl.thumbnail img,
.content a > img.postimage {
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid #888 !important;
    border-radius: 0 !important;
    box-shadow: none;
    padding: 0;
    transition: border 0.25s ease-out 0s;
}

dl.thumbnail dt a:hover {
    background-color: #222222;
}

dl.thumbnail dt a:hover,
.content a > img.postimage:hover {
    background: none;
}

dl.thumbnail dt a:hover img,
.content a > img.postimage:hover {
    border: 3px solid #00b6ff !important;
}

/* Post poll styles
----------------------------------------*/

.topic_poll .panel {
    background: #D8D8D8;
    border-color: #CAC9C8;
    box-shadow: none;
}

.topic_poll .content {
    background: none;
    border-color: #CAC9C8;
    padding: 0 20px;
    position: relative;
}

.topic_poll .polls {
    background: linear-gradient(to bottom, rgba(19,19,19,0.14) 0%, rgba(214,210,214,0.14) 100%);
    box-shadow: none;
}

.topic_poll h2,
.topic_poll h2 span {
    color: #074E79;
}

.topic_poll p.author {
    background: none;
    box-shadow: none;
    color: #555;
}

.topic_poll p.author strong {
    color: #074E79;
}

fieldset.polls dl {
    color: #333;
}

fieldset.polls dd.resultbar div {
    background: #0081b4;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    color: #FFF;
}

fieldset.polls dl.most-votes dd.resultbar div {
    background: #009ee2;
    box-shadow: 0 0 5px rgba(88, 186, 255, 0.7);
}

fieldset.polls dl.voted {
    color: #000;
}

/* Poster profile block
----------------------------------------*/

.posthilit {
    background-color: #CCC;
    color: #000;
    text-shadow: none;
}

.postprofile {
    text-shadow: rgba(0, 0, 0, 0.7);
}

.online .postprofile dt strong:before,
.online .postprofile dt a:not(.avatar):before,
.panel.online dl.profile-details > dd:first-of-type > span:first-child:before {
    color: #5CFF00;
    text-shadow: 0 0 4px #5DF644;
}

/* Gaming assets (pbWow extension)
--------------------------------------------- */
.postprofile .icons-frame div {
    background: #000;
}

.postprofile .avatar img {
    border: rgba(0,152,245,0.7);
}

.postprofile .rank-icon {
    background: none;
    color: #FFF;
    text-shadow: #000;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */

/* Pagination
---------------------------------------- */

/* Search box
--------------------------------------------- */

.search-box .inputbox {
    border-color: #5d5d5d;
}

.search-box .inputbox:focus,
.search-box .inputbox:hover {
    border-color: #C77E19;
}

.search-header {
    box-shadow: none;
}

.button .icon, .button-secondary {
    color: #fefefe;
}

ul.cplist {
    padding: 3px;
    margin-bottom: 8px;
}

/* Icon images
---------------------------------------- */

/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/
.panel-container .panel {
    background: #FCFBFA;
}

.panel-container li.header{
    color: #222;
}

.panel-container .panel li.row {
    border-style: solid;
    transition: background 0.15s ease-in-out 0s;
}

.panel-container .panel li.row,
.panel-container .panel li.row.bg1,
.panel-container .panel li.row.bg2 {
    background: #ECEBEA;
    border-color: #C5C5C5;
    border-width: 0 0 1px 0;
}

.panel-container .panel li.row:hover,
.panel-container .panel li.row.bg1:hover,
.panel-container .panel li.row.bg2:hover,
.panel-container .panel li.row.bg3:hover {
    background: #E6E6E6;
    color: #4A4A4A;
}

.panel-container .panel li.row.bg3 {
    background: #E3E7E9;
    border-color: #C5C5C5;
}

#cp-main  {
    background: #ECEBEA;
    border: #444;
}

#cp-main h3, #cp-main hr, #cp-menu hr {
    border-color: rgba(29,63,98,0.5);
}

.panel-container h3,
.panel-container hr,
#cp-menu hr {
    border-color: rgba(0,156,255,0.3);
}

/* CP tabbed menu
----------------------------------------*/
#tabs .tab > a {
    color: #999;
    background: #E3E1DE;
    background: linear-gradient(#ecebea, #E3E1DE);
    border-color: #ecebea;
    color: #074e79;
}

#tabs .tab > a:hover {
    background: #ECEBEA;
    background: linear-gradient(#e3e1de, #ECEBEA);
    border-color: #ecebea;
    color: #0295ee;
}

#tabs .activetab > a {
    color: #FFF;
    background: #ECEBEA;
    border-color: #ECEBEA;
    color: #0080B2;
}

#tabs .activetab > a:hover {
    border-bottom-color: #ECEBEA;
    background: #ECEBEA;
    color: #00B6FF;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs .tab > a {
    background: #ECEBEA;
    background: linear-gradient(#FCFBFA, #ECEBEA);
    border-color: #FCFBFA;
}

#minitabs .tab > a:hover {
    background: #1a1a1a;
    background: rgba(40, 40, 40, 0.7) linear-gradient(to top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
    border-color: #555;
}

#minitabs .activetab > a {
    background: #FCFBFA;
    border-color: #FCFBFA;
    color: #0080b2;
}

#minitabs .activetab > a:hover {
    border-bottom-color: #202020;
    background: #FCFBFA;
    color: #0295ee;
}

/* Responsive tabs
----------------------------------------*/

.responsive-tab .responsive-tab-link:before {
    border-color: #999999;
}

/* UCP navigation menu
----------------------------------------*/
#navigation a {
    background: #ECEBEA;
    background: linear-gradient(to left, #ECEBEA, #FCFBFA);
    border-color: #FCFBFA;
    color: #5d5d5d;
}

.rtl #navigation a { /* Do it here instead of bidi.css, so it's easier to overrule by children) */
    background: linear-gradient(to right, #ECEBEA, #FCFBFA);
}

#navigation a:hover {
    background: #FCFBFA;
    color: #0295ee;
}

#navigation #active-subsection a {
    display: block;
    background: #FCFBFA;
    color: #074e79;
}

#navigation #active-subsection a:hover {
    color: #0295ee;
}

/* Preferences pane layout
----------------------------------------*/

#cp-main .pm,
.cp-mini {
    background: #FCFBFA;
    border-color: #CAC9C8;
}

dl.mini dt {
    color: #888888;
}

/* PM Styles
----------------------------------------*/
.pmlist li.pm_message_reported_colour:before, .pm_message_reported_colour 	{ border-left-color: #BC2A4D; }
.pmlist li.pm_marked_colour:before, .pm_marked_colour 						{ border-left-color: #FF6600; }
.pmlist li.pm_replied_colour:before, .pm_replied_colour 					{ border-left-color: #A9B8C2; }
.pmlist li.pm_friend_colour:before, .pm_friend_colour 						{ border-left-color: #5CFF00; }
.pmlist li.pm_foe_colour:before, .pm_foe_colour 							{ border-left-color: #AA1111; }

/* PM Message history */
.current {
    color: #000;
}

/* Avatar gallery */

#gallery label {
    background-color: #ECEBEA;
    border-color: #CAC9C8;
}

#gallery label:hover {
    background-color: #FFF;
    border-color: #0295EE;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
    background: #fff url("./images/icons/select.png") no-repeat 100% center;
    border-color: #b5b3b2;
    color: #5a5a5a;
    padding-inline-end: 16px;
}

/* Definition list layout for forms
---------------------------------------- */

/* Posting page styles
----------------------------------------*/
/* Main message box */

/* Input field styles
---------------------------------------- */

/* Form button styles
---------------------------------------- */

option.disabled-option { color: #888; }
label, dd label {
    color: inherit;
}

fieldset dt {
    color: #3D6F95;
}
fieldset dl:hover dt label,
fieldset.fields2 dl:hover dt label {
    color: #0295EE;
}

#message-box textarea { color: #5a5a5a; }

#message-box textarea.drag-n-drop {
    outline-color: rgba(102, 102, 102, 0.5);
}

#message-box textarea.drag-n-drop-highlight {
    outline-color: rgba(17, 163, 234, 0.5);
}

/* Input field styles
---------------------------------------- */

.inputbox {
    background: #FFF;
    border-color: #cac9c8;
    color: #5a5a5a;
}

.inputbox:hover,
.inputbox:focus {
    border-color: #1c9ec1;
}
.inputbox:focus {
    color: #4a4a4a;
}

.inputbox:-moz-placeholder { color: #707070; opacity: 0.6; }
.inputbox::-moz-placeholder { color: #707070; opacity: 0.6; }
.inputbox::-webkit-input-placeholder { color: #707070; opacity: 0.6; }

/* Form button styles
---------------------------------------- */

a.button1, a.button1:active,
a.button2, a.button2:active {
    color: #DDD;
}

/* Form buttons */
a.button1, input.button1,
a.button2, input.button2, input.button3 {
    background: #0081b4;
    background: linear-gradient(rgba(0, 129, 180, 1), rgba(0, 106, 155, 1));
    color: #DDD;
    box-shadow: rgba(0,0,0,0.3);
}

input.button1:active, input.button2:active, input.button3:active {
    background-image: linear-gradient(to bottom, #111, #222);
    box-shadow: inset 0 0 2px 1px #000, 0 2px 5px 1px rgba(0, 0, 0, 0.5);
    border-color: #888;}

a.button1:hover, input.button1:hover,
a.button2:hover, input.button2:hover, input.button3:hover,
input.button1:active, input.button3:active, input.button2:active {
    background: #009ee2;
    background: linear-gradient(rgba(0, 158, 226, 1), rgba(0, 158, 226, 1));
    box-shadow: rgba(0, 129, 180, 0.25);
    color: #FFF;
}

input.button1:focus, input.button2:focus, input.button3:focus {
    border-color: #00C0FF;
    color: #FFF;
}

input.disabled {
    color: #999;
}

.button1.disabled {
    background: #6D7176;
    border-color: #6D7176;
    box-shadow: rgba(0, 0, 0, 0.3);
    text-shadow: rgba(0, 0, 0, 0.8);
    color: #E1E0E0 !important;
}

/* Posting */
#format-buttons input {
    background: #444;
    background: linear-gradient(#585858, #444444);
    border-color: #a3a1a0;
    color: #FFF;
}

#format-buttons input:hover {
    background: #606060;
    background: linear-gradient(#838383, #606060);
    border-color: #dcdada;
}

/* Search box (header)
--------------------------------------------- */

.search-header .inputbox {
    border: #7F7F7F;
}

.search-header .inputbox:focus {
    border: none;
    color: #000;
}

/* Notifications
---------------------------------------- */

/* Profile Context Menu
--------------------------------------------- */